<div class="mt-5 mb-3">
    <h1 class="featurette-heading mb-5">Blogs</h1>
    <hr>
    <div class="mx-auto mt-5 mb-5">
      <%= render "partials/paginate"%>
    </div>
          <%= render @blogs %>
      <div class="mx-auto mt-5">
        <%= render "partials/paginate"%>
    </div>
</div>