<!-- Grid row -->
<div class="row">

<div class="col-md-12 d-flex justify-content-center mb-5">
    <h1 class="featurette-heading ">Shop Gallery</h1>
</div>
  <!-- Grid column -->
  <%# <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>

  </div> %>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/gallery/shop-gallery-s-01.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/shop-gallery-h-01.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/shop-gallery-h-02.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/gallery/shop-gallery-s-02.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/gallery/shop-gallery-s-03.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/shop-gallery-h-03.png" alt="Suncity Tattoo Koh Samui">
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->