<!-- Grid row -->
<div class="row">

<div class="col-md-12 d-flex justify-content-center mb-5">
    <h1 class="featurette-heading ">View Artwork Portfolio</h1>
</div>
  <!-- Grid column -->
  <%# <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>

  </div> %>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
     <%= image_tag "gallery/Kukoo-tattoo-08.png", class: "img-fluid" %>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/kukoo-tattoo-02.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/kukoo-tattoo-04.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/gallery/kukoo-tattoo-03.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/gallery/kukoo-tattoo-06.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/gallery/kukoo-tattoo-05.png" alt="Card image cap">
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->