<footer class="container  mt-5">

    <p class="float-right"><a href="#" class="text-dark">Back to top</a></p>
    <%# <p><%= copyright_helper 'Suncity Tattoo' %>
    <p><%= Copyright 'Suncity Tattoo' %></p>

</footer>
<div class="container-fluid footer-app" style="height: 250px">
</div>