<div class="col text-center mt-5 mb-5">
      <div class="row">

         <div class="col-md-12 d-flex justify-content-center mb-5">
            <h1 class="featurette-heading ">View Artwork Portfolio</h1>
         </div>

         <div class="col-sm-6">
            <div class="btn btn-secondary m-1 d-block">
               <a href="https://www.instagram.com/suncitytattoosamui" class="text-white" target="_blank" > <p class="my-auto">Connect & View More Gallery on <%= fa_icon "instagram", style: "font-size: 1.5rem" %> </p></a>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="btn btn-secondary m-1 d-block">
               <a href="https://www.facebook.com/thesuncitytattoo" class="text-white" target="_blank" > <p class="my-auto">Connect & View More Gallery on <%= fa_icon "facebook", style: "font-size: 1.5rem" %> </p></a>
            </div>
         </div>

      </div>
</div>