<div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 text-left">
          <%= paginate @blogs %>
        </div>
         <% if user_signed_in? %>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>
        </div>  
        <% end %>
</div>     