// for custome bootstrap style

@import "bootstrap/dist/css/bootstrap";

.navbar-brand {
  font-size: 1.5rem;
}

.search-area {
  padding-top: 50px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-left: 0px;
}

.show-inline-block {
  display: inline-block !important;
}

#nav-inline {
  overflow-x: hidden;
  white-space: nowrap;
  height: 2.5em;
  width: 100%;
}

#nav-inline li {
  padding: 8px;
  display: inline;
}

.notice-box {
  margin-top: 80px;
  margin-bottom: 16px;
}
